ipython
cmake
pybind11
ninja
scipy==1.10.1
scikit-learn==1.4.0
pandas==2.0.3
hydra-core
opencv-python
openai-clip
timm
matplotlib==3.7.2
imageio
timm
numpy-quaternion
more-itertools
pyliblzfse
einops
transformers
pytorch-lightning
wget
gdown
tqdm
zmq
torch_geometric
numpy==1.23.0
protobuf==3.19.0 
supervision==0.14.0
open3d==0.19.0
shapely
alphashape
pyrealsense2==2.53.1.4623
open_clip_torch
graphviz
pyrender
openai==1.56.1
transforms3d==0.3.1
scikit-image==0.19.3